
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.contact-container {
    padding: 125px 0 150px 0;
    background-color: white;
    height: 700px;
    text-align: center;
    background-color: #c7c7fa;
    font-weight: bolder;
}

.messageTitle {
    font-family: 'Cinzel Decorative';
    text-shadow: 3px 2px #a5a5de;
    color: #ffffff;
    font-size: 300%;
    padding-bottom: 30px;
}
.name, .email, .msg {
    font-family: 'Montserrat';
    color: #6f6fb2;
    text-align: justify;
    font-size: 120%;
}

.nameField, .emailField, .msgField {
    margin: 10px 0 20px 10px;
    height: 30px;
    width: 300px;
    border: 1.5px solid #a5a5de;
    border-radius: 2px;
    box-shadow: 5px 5px #6f6fb2;
    cursor: pointer;
}

.msg-area {
    margin: 10px 0 20px 10px;
    height: 100px;
    width: 300px;
    border-radius: 2px;
    border: 1.5px solid #a5a5de;
    box-shadow: 5px 5px #6f6fb2;

}

.btn-submit {
    border: 1.5px solid #a5a5de;
    box-shadow: 5px 5px #6f6fb2;
    color: #6f6fb2;
    background-color: #ffffff;
    font-size: medium;
    margin-left: 10px;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Montserrat';
}

.btn-submit:active {
    background-color: #000;
    box-shadow: none;
    transform: translate(5px, 5px);
}

.actual-email {
    font-family: 'Montserrat';
    color: #a5a5de;
    margin-top: 30px;
    font-size: 100%;
}
.mailtoEmail {
    font-family: 'Montserrat';
}

.mailtoEmail:link {
    color: #fff;
}

.mailtoEmail:hover {
    color: #a5a5de;
}